.react-datepicker-wrapper {
  width: 100px;
  position: fixed;
  z-index: 1;
}

.react-datepicker__input-container {
  width: 100vw;
  display: flex;
}

.react-datepicker__input-container input {
  cursor: default;
  width: 100vw;
  opacity: 0;
  cursor: pointer;
}

.react-datepicker-popper {
  z-index: 1;
}