.reactgrid {
    font-size: 0.8rem; /* 希望のフォントサイズに変更 */
  }

.rg-celleditor input{
  font-size: 0.8rem; /* 希望のフォントサイズに変更 */
  border: none; /* ボーダーを非表示にする */
  /* 必要に応じて他のスタイリングを追加 */
}

.rg-text-celleditor{
  width: 400px !important;
}