.reactgrid {
    font-size: 0.8rem; /* 希望のフォントサイズに変更 */
  }

.rg-celleditor input{
  font-size: 0.8rem; /* 希望のフォントサイズに変更 */
  max-width: 100%; /* セルの幅に合わせて調整 */
  border: none; /* ボーダーを非表示にする */
  /* 必要に応じて他のスタイリングを追加 */
}